params {
    publish_dir = ""
    input_assemblies = ""
    blast_similarity = ""
    blastdb = ""
    loci = ""
    qckb = "$PWD/knowledge_bases/qc_kb/"
    blast_kb = "$PWD/knowledge_bases/blast_kb/"
}

profiles {
    local {
        process {
            executor = 'local'
            errorStrategy = "ignore"
            cpus = 1
        }
        singularity {
            enabled = false
        }
    }
    standard {
        process {
            executor = "sge" 
            penv="smp"
            queue = 'all.q'
            pollInterval = '15 sec'
            errorStrategy = "ignore"

            withName:ALLELE_CALLING{
                container = 'file://images/ngs-pipeline-process-allele-calling_ver1.1.sif'
            }
        }
 
        singularity {
            enabled = true
            autoMounts = true
        }
    }    
 }       